.main-layout {
  padding: 10px;
  position: relative;
  display: grid;

  background-color:var(--background-color);
  min-height: calc(100vh - 20px);

  .mast-head {
    grid-area: header;
  }

  .stern {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .deck {
    grid-area: main;
    padding: 10px;
  }
}
