.main-template {
  position: relative;
  display: grid;
  grid-template-areas:
      "menu header header"
      "menu main main";
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 150px 1fr;
  height: 100%;
  grid-template-rows: auto 90%;

  .header-content {
    grid-area: header;
    justify-content: space-between;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 19px;
    padding: 0.625rem;

    .logo {
      width: 85px;
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .left-content {
    grid-area: menu;
    text-align: center;
  }

  .right-content {
    grid-area: main;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
  }

  .footer {
    grid-area: footer;
  }

  .left-content,
  .right-content,
  .header-content {
    background-color: var(--secondary-color);
    border-radius: 5px;
  }
}
