.user-account {
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-align: center;

  button {
    .MuiAvatar-root {
      border: 1px solid ;
    }
    .MuiButton-endIcon {
      svg {
        color: var(--text-color)
      }
    }
  }

  .MuiTypography-root {
    color: var(--text-color) !important;
    padding-left: 15px;
  }
}
