.user-account {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  text-align: center;

  button {
    .MuiAvatar-root {
      border: 1px solid ;
    }
  }

  .MuiTypography-root {
    color: var(--secondary-color) !important;
    padding-left: 15px;
  }
}
