.pizza-admin {
  &-navigation {
    margin-bottom: 25px;

    .MuiTab-root.Mui-selected {
      color: var(--primary-color) !important;
      background: rgba(62, 39, 35, 0.15);
      border-radius: 5px 5px 0 0;
    }
    .MuiTabs-indicator {
      background-color: var(--primary-color) !important;
    }

    .actions {
      &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: rgba(62, 39, 35, 0.15);
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px;
      }

      &-right {
        .MuiButton-root {
          margin-left: 15px;
          background-color: var(--accent-color);
        }
      }
      &-left {
        @media (max-width: 768px) {flex: 1;}
      }
    }
  }

  .toppings {
    &-list {
      header {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: bold;
        letter-spacing: 0.095rem;
        text-transform: uppercase;
      }
    }
    &-grid {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(
        auto-fill,
        160px
      ); /* Create columns that are 50px wide */
      gap: 10px; /* Add a gap between columns */
    }
  }
}
