.page-header {
  flex-grow: 4;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    font-size: 1.4rem !important;
    font-family: "Cinzel Decorative";
  }

  p {
    font-size: 0.875rem;
  }

  .MuiTypography-body2 {
    margin-bottom: 0 !important;
  }

  h4,
  p,
  .MuiTypography-body2 {
    color: var(--text-color);
  }


}
