.mast-head {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #fff;

  padding: 20px;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 85px;
    img {
      height: auto;
      width: 100%;
    }

    h1 {
      font-size: 1.75rem;
    }

    svg {
      height: 45px;
      margin-bottom: 15px;
    }

    h1,
    svg {
      color: var(--primary-color);
    }
  }

  @media (max-width: 768px) {
    padding: 5px;

    .logo {
      width: 100%;
      h1 {
        font-size: 1rem;
      }

      svg {
        height: 25px;
        margin-bottom: 0px;
      }
    }
  }
}

@media (max-width: 768px) {
  .MuiTypography-body2 {
    display: none;
  }
}
