:root {
  --primary-color: #c62828;
  --secondary-color: #fffaf0;
  --accent-color: #388e3c;
  --background-color: #3e2723;
  --text-color: #1e272e;
  --danger: #f44336;
  --warning: #be7a11;
  --success: #418a49;
  --info: #161318;
  --default: #999;
  --grey: #333;
  --phi: 1.6180339887498948;
  --border: 1px solid #bebebe;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html,
body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel Decorative", cursive, sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

h2 {
  font-size: 2.3125rem !important;
}
